* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .btn {
  width: 5rem;
  height: 5rem;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
  background-color: gainsboro;
  border: solid 3px burlywood;
  margin: 1rem;
}

.container p {
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
  padding: 1.4rem;
  background-color: gainsboro;
  height: 5rem;
  width: 5rem;
  border: solid 3px burlywood;
}
